/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.App {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Changed to Poppins */
    background-color: var(--first-color);
    color: var(--fourth-color);
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: var(--fourth-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
