/* HomePage.css */
.homepage {
    background-color: #f2f9f1;
    color: #5c715e;
    text-align: center;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 300px;
    height: auto;
  }
  
  h1, h2 {
    margin: 0;
    padding: 5px;
    color: #5c715e;
  }
  
  .welcome-message {
    font-size: 1.2em;
    color: #5c715e;
    margin: 20px 0;
  }
  
  .intro {
    background-color: #ddeedf;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .feature-card {
    background-color: #b6cdbd;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card h3 {
    margin-top: 0;
    color: #5c715e;
  }
  
  .feature-card p {
    color: #3d5045;
  }
  